@charset "UTF-8";
/* Обзор маркетплейса (#1) */
/* To restrict styles to the current slide, panel, or example use .slide[data-cid="slide-134-050a1c2c"] */
.slide[data-cid=slide-134-050a1c2c] .slider-134 > li {
  display: block;
  visibility: hidden;
  height: 0;
  transition: none !important;
}
.slide[data-cid=slide-134-050a1c2c] .slider-134 > li.selected {
  visibility: visible;
  height: auto;
}
.slide[data-cid=slide-134-050a1c2c] .controller-134 {
  margin-bottom: 5px;
}
.slide[data-cid=slide-134-050a1c2c] .controller-134 > li:hover > p {
  opacity: 1;
}
.slide[data-cid=slide-134-050a1c2c] .controller-134 > li.selected > p {
  opacity: 1;
  border-color: #2f80ed;
}
.slide[data-cid=slide-134-050a1c2c] .controller-134 > li > p {
  position: relative;
  padding-bottom: 5px;
  border-bottom: 2px solid transparent;
  opacity: 0.6;
  transition: 0.15s;
}
.slide[data-cid=slide-134-050a1c2c] .swiper-134 .swiper-wrapper {
  flex-wrap: nowrap;
}

/* Аккумуляторы (#2) */
/* To restrict styles to the current slide, panel, or example use .slide[data-cid="slide-99-f3c86e9f"] */
.slide[data-cid=slide-99-f3c86e9f] a.box-99:active, .slide[data-cid=slide-99-f3c86e9f] a.box-99:focus {
  outline: none;
}
.slide[data-cid=slide-99-f3c86e9f] a.box-99:hover {
  opacity: 1;
}
.slide[data-cid=slide-99-f3c86e9f] .thumbnail-99 {
  position: relative;
}
.slide[data-cid=slide-99-f3c86e9f] .thumbnail-99 img {
  width: 100%;
  height: 100%;
}
.slide[data-cid=slide-99-f3c86e9f] .blackout-99 {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  border: none;
  background: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.4));
  z-index: 10;
}
.slide[data-cid=slide-99-f3c86e9f] .title-slide-99 {
  position: absolute;
  text-align: left;
  width: 80%;
  bottom: 12%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 20px;
  line-height: 26px;
  z-index: 15;
}
.slide[data-cid=slide-99-f3c86e9f] .more-99 {
  position: absolute;
  bottom: 5px;
  z-index: 15;
  text-align: left;
  width: 80%;
  left: 50%;
  transform: translateX(-50%);
}

/* Пропеллеры (#3) */
/* To restrict styles to the current slide, panel, or example use .slide[data-cid="slide-99-3274f0ab"] */
.slide[data-cid=slide-99-3274f0ab] a.box-99:active, .slide[data-cid=slide-99-3274f0ab] a.box-99:focus {
  outline: none;
}
.slide[data-cid=slide-99-3274f0ab] a.box-99:hover {
  opacity: 1;
}
.slide[data-cid=slide-99-3274f0ab] .thumbnail-99 {
  position: relative;
}
.slide[data-cid=slide-99-3274f0ab] .thumbnail-99 img {
  width: 100%;
  height: 100%;
}
.slide[data-cid=slide-99-3274f0ab] .blackout-99 {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  border: none;
  background: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.4));
  z-index: 10;
}
.slide[data-cid=slide-99-3274f0ab] .title-slide-99 {
  position: absolute;
  text-align: left;
  width: 80%;
  bottom: 12%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 20px;
  line-height: 26px;
  z-index: 15;
}
.slide[data-cid=slide-99-3274f0ab] .more-99 {
  position: absolute;
  bottom: 5px;
  z-index: 15;
  text-align: left;
  width: 80%;
  left: 50%;
  transform: translateX(-50%);
}

/* Моторы (#4) */
/* To restrict styles to the current slide, panel, or example use .slide[data-cid="slide-99-db0cbb79"] */
.slide[data-cid=slide-99-db0cbb79] a.box-99:active, .slide[data-cid=slide-99-db0cbb79] a.box-99:focus {
  outline: none;
}
.slide[data-cid=slide-99-db0cbb79] a.box-99:hover {
  opacity: 1;
}
.slide[data-cid=slide-99-db0cbb79] .thumbnail-99 {
  position: relative;
}
.slide[data-cid=slide-99-db0cbb79] .thumbnail-99 img {
  width: 100%;
  height: 100%;
}
.slide[data-cid=slide-99-db0cbb79] .blackout-99 {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  border: none;
  background: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.4));
  z-index: 10;
}
.slide[data-cid=slide-99-db0cbb79] .title-slide-99 {
  position: absolute;
  text-align: left;
  width: 80%;
  bottom: 12%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 20px;
  line-height: 26px;
  z-index: 15;
}
.slide[data-cid=slide-99-db0cbb79] .more-99 {
  position: absolute;
  bottom: 5px;
  z-index: 15;
  text-align: left;
  width: 80%;
  left: 50%;
  transform: translateX(-50%);
}

/* Подтверждение покупки (#6) */
/* To restrict styles to the current slide, panel, or example use .slide[data-cid="slide-09-60254839"] */
@media (max-width: 1334px) {
  .slide[data-cid=slide-09-60254839] form.slides-form .input-9,
.slide[data-cid=slide-09-60254839] form.slides-form .button-9 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 300px;
    width: 300px;
  }
}
